In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'/Users/sofiakazeko/Jupiter/Dec-2024 Instacart Basket Analysis'

In [3]:
#3 import the df_ords_prods_merge
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prods_merge1.pkl'))

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 17)

In [6]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [9]:
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [10]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

# Task - 2.Find the aggregated mean of the “order_number” column grouped by “department_id”

In [11]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The results for the entire dataframe differ from those of the subset for +-1. In general the numbers look very close.

# 4.creating a loyalty flag for existing customers using the transform() and loc() functions.

In [12]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [13]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10

In [14]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,False,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,False,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Least busy,Most orders,14
97,1673511,2,5,3,11,8.0,False,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Least busy,Most orders,14
98,1673511,2,5,3,11,8.0,False,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Least busy,Most orders,14
99,1673511,2,5,3,11,8.0,False,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Least busy,Most orders,14

In [15]:
pd.options.display.max_rows = None

In [16]:
ords_prods_merge.head(100)
# checked and cleared cell output

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,Low-range product,Least busy,Average orders,10
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Average orders,10
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Least busy,Average orders,10
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Least busy,Average orders,10
10,2398795,1,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Least busy,Average orders,10
11,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
12,473747,1,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Most orders,10
13,473747,1,3,3,12,21.0,False,10258,3,1,Pistachios,117,19,3.0,Low-range product,Least busy,Most orders,10
14,473747,1,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,Least busy,Most orders,10
15,473747,1,3,3,12,21.0,False,30450,5,0,Creamy Almond Butter,88,13,3.2,Low-range product,Least busy,Most orders,10
16,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
17,2254736,1,4,4,7,29.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Average orders,10
18,2254736,1,4,4,7,29.0,False,10258,3,1,Pistachios,117,19,3.0,Low-range product,Least busy,Average orders,10
19,2254736,1,4,4,7,29.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Least busy,Average orders,10
20,2254736,1,4,4,7,29.0,False,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Least busy,Average orders,10
21,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
22,431534,1,5,4,15,28.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Most orders,10
23,431534,1,5,4,15,28.0,False,10258,3,1,Pistachios,117,19,3.0,Low-range product,Least busy,Most orders,10
24,431534,1,5,4,15,28.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Least busy,Most orders,10
25,431534,1,5,4,15,28.0,False,10326,5,0,Organic Fuji Apples,24,4,2.7,Low-range product,Least busy,Most orders,10
26,431534,1,5,4,15,28.0,False,17122,6,0,Honeycrisp Apples,24,4,14.0,Mid-range product,Least busy,Most orders,10
27,431534,1,5,4,15,28.0,False,41787,7,0,Bartlett Pears,24,4,5.0,Low-range product,Least busy,Most orders,10
28,431534,1,5,4,15,28.0,False,13176,8,1,Bag of Organic Bananas,24,4,10.3,Mid-range product,Least busy,Most orders,10
29,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
30,3367565,1,6,2,7,19.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10
31,3367565,1,6,2,7,19.0,False,10258,3,1,Pistachios,117,19,3.0,Low-range product,Regularly busy,Average orders,10
32,3367565,1,6,2,7,19.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Average orders,10
33,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
34,550135,1,7,1,9,20.0,False,10258,2,1,Pistachios,117,19,3.0,Low-range product,Busiest day,Most orders,10
35,550135,1,7,1,9,20.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest day,Most orders,10
36,550135,1,7,1,9,20.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest day,Most orders,10
37,550135,1,7,1,9,20.0,False,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Busiest day,Most orders,10
38,3108588,1,8,1,14,14.0,False,12427,1,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest day,Most orders,10
39,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
40,3108588,1,8,1,14,14.0,False,10258,3,1,Pistachios,117,19,3.0,Low-range product,Busiest day,Most orders,10
41,3108588,1,8,1,14,14.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest day,Most orders,10
42,3108588,1,8,1,14,14.0,False,46149,5,0,Zero Calorie Cola,77,7,13.4,Mid-range product,Busiest day,Most orders,10
43,3108588,1,8,1,14,14.0,False,49235,6,0,Organic Half & Half,53,16,1.8,Low-range product,Busiest day,Most orders,10
44,2295261,1,9,1,16,0.0,False,49235,1,1,Organic Half & Half,53,16,1.8,Low-range product,Busiest day,Most orders,10
45,2295261,1,9,1,16,0.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range product,Busiest day,Most orders,10
46,2295261,1,9,1,16,0.0,False,25133,3,1,Organic String Cheese,21,16,8.6,Mid-range product,Busiest day,Most orders,10
47,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
48,2295261,1,9,1,16,0.0,False,10258,5,1,Pistachios,117,19,3.0,Low-range product,Busiest day,Most orders,10
49,2295261,1,9,1,16,0.0,False,12427,6,1,Original Beef Jerky,23,19,4.4,Low-range product,Busiest day,Most orders,10
50,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
51,2550362,1,10,4,8,30.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range product,Least busy,Average orders,10
52,2550362,1,10,4,8,30.0,False,39657,3,0,Milk Chocolate Almonds,45,19,6.8,Mid-range product,Least busy,Average orders,10
53,2550362,1,10,4,8,30.0,False,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,Mid-range product,Least busy,Average orders,10
54,2550362,1,10,4,8,30.0,False,25133,5,1,Organic String Cheese,21,16,8.6,Mid-range product,Least busy,Average orders,10
55,2550362,1,10,4,8,30.0,False,10258,6,1,Pistachios,117,19,3.0,Low-range product,Least busy,Average orders,10
56,2550362,1,10,4,8,30.0,False,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,Low-range product,Least busy,Average orders,10
57,2550362,1,10,4,8,30.0,False,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Least busy,Average orders,10
58,2550362,1,10,4,8,30.0,False,12427,9,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Average orders,10
59,2168274,2,1,2,11,NaN,True,32792,1,0,Chipotle Beef & Pork Realstick,23,19,5.2,Mid-range product,Regularly busy,Most orders,14
60,2168274,2,1,2,11,NaN,True,47766,2,0,Organic Avocado,24,4,6.3,Mid-range product,Regularly busy,Most orders,14
61,2168274,2,1,2,11,NaN,True,20574,3,0,Roasted Turkey,96,20,2.3,Low-range product,Regularly busy,Most orders,14
62,2168274,2,1,2,11,NaN,True,12000,4,0,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,Mid-range product,Regularly busy,Most orders,14
63,2168274,2,1,2,11,NaN,True,48110,5,0,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,Low-range product,Regularly busy,Most orders,14
64,2168274,2,1,2,11,NaN,True,22474,6,0,Cheddar Bunnies Snack Crackers,78,19,4.1,Low-range product,Regularly busy,Most orders,14
65,2168274,2,1,2,11,NaN,True,16589,7,0,Plantain Chips,107,19,5.0,Low-range product,Regularly busy,Most orders,14
66,2168274,2,1,2,11,NaN,True,35917,8,0,Organic Just Concord Grape Juice,98,7,9.4,Mid-range product,Regularly busy,Most orders,14
67,2168274,2,1,2,11,NaN,True,27344,9,0,Uncured Genoa Salami,96,20,14.8,Mid-range product,Regularly busy,Most orders,14
68,2168274,2,1,2,11,NaN,True,30489,10,0,Original Hummus,67,20,7.5,Mid-range product,Regularly busy,Most orders,14
69,2168274,2,1,2,11,NaN,True,27966,11,0,Organic Raspberries,123,4,4.4,Low-range product,Regularly busy,Most orders,14
70,2168274,2,1,2,11,NaN,True,13176,12,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Most orders,14
71,2168274,2,1,2,11,NaN,True,45066,13,0,Honeycrisp Apple,24,4,2.5,Low-range product,Regularly busy,Most orders,14
72,1501582,2,2,5,10,10.0,False,16797,1,0,Strawberries,24,4,1.3,Low-range product,Regularly busy,Most orders,14
73,1501582,2,2,5,10,10.0,False,47526,2,0,Goat Cheese Log,21,16,2.0,Low-range product,Regularly busy,Most orders,14
74,1501582,2,2,5,10,10.0,False,8479,3,0,Original Black Box Tablewater Cracker,78,19,3.5,Low-range product,Regularly busy,Most orders,14
75,1501582,2,2,5,10,10.0,False,47766,4,1,Organic Avocado,24,4,6.3,Mid-range product,Regularly busy,Most orders,14
76,1501582,2,2,5,10,10.0,False,19051,5,0,"Pita Chips, Simply Naked, Party Size",107,19,3.9,Low-range product,Regularly busy,Most orders,14
77,1501582,2,2,5,10,10.0,False,8138,6,0,Traditional Hummus,67,20,2.0,Low-range product,Regularly busy,Most orders,14
78,1901567,2,3,1,10,3.0,False,47766,1,1,Organic Avocado,24,4,6.3,Mid-range product,Busiest day,Most orders,14
79,1901567,2,3,1,10,3.0,False,32792,2,1,Chipotle Beef & Pork Realstick,23,19,5.2,Mid-range product,Busiest day,Most orders,14
80,1901567,2,3,1,10,3.0,False,20574,3,1,Roasted Turkey,96,20,2.3,Low-range product,Busiest day,Most orders,14
81,1901567,2,3,1,10,3.0,False,7781,4,0,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,Mid-range product,Busiest day,Most orders,14
82,1901567,2,3,1,10,3.0,False,28874,5,0,Carrot Ginger Soup,1,20,6.2,Mid-range product,Busiest day,Most orders,14
83,738281,2,4,2,10,8.0,False,49451,1,0,Artichoke Spinach Dip,67,20,7.1,Mid-range product,Regularly busy,Most orders,14
84,738281,2,4,2,10,8.0,False,32792,2,1,Chipotle Beef & Pork Realstick,23,19,5.2,Mid-range product,Regularly busy,Most orders,14
85,738281,2,4,2,10,8.0,False,32139,3,0,Hommus Classic Original,67,20,7.5,Mid-range product,Regularly busy,Most orders,14
86,738281,2,4,2,10,8.0,False,34688,4,0,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,Mid-range product,Regularly busy,Most orders,14
87,738281,2,4,2,10,8.0,False,36735,5,0,Organic Roasted Sliced Chicken Breast,96,20,8.9,Mid-range product,Regularly busy,Most orders,14
88,738281,2,4,2,10,8.0,False,37646,6,0,Organic Gala Apples,24,4,9.1,Mid-range product,Regularly busy,Most orders,14
89,738281,2,4,2,10,8.0,False,22829,7,0,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,Mid-range product,Regularly busy,Most orders,14
90,738281,2,4,2,10,8.0,False,24852,8,0,Banana,24,4,12.3,Mid-range product,Regularly busy,Most orders,14
91,738281,2,4,2,10,8.0,False,47209,9,0,Organic Hass Avocado,24,4,4.0,Low-range product,Regularly busy,Most orders,14
92,738281,2,4,2,10,8.0,False,33276,10,0,Kalamata Olive Spread,67,20,10.8,Mid-range product,Regularly busy,Most orders,14
93,738281,2,4,2,10,8.0,False,45613,11,0,Pad Thai,38,1,12.6,Mid-range product,Regularly busy,Most orders,14
94,738281,2,4,2,10,8.0,False,9681,12,0,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,Low-range product,Regularly busy,Most orders,14
95,738281,2,4,2,10,8.0,False,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,False,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Least busy,Most orders,14
97,1673511,2,5,3,11,8.0,False,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Least busy,Most orders,14
98,1673511,2,5,3,11,8.0,False,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Least busy,Most orders,14
99,1673511,2,5,3,11,8.0,False,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Least busy,Most orders,14

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
ords_prods_merge['loyalty_flag']. value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [21]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

# 5.check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer)

In [22]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386335  1.0  99999.0
New customer      13.294669  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [23]:
#option 2 
ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284093.0,10.386333,327.981293,1.0,4.2,7.4,11.2,99999.0
New customer,6243990.0,13.294672,597.521545,1.0,4.2,7.4,11.3,99999.0
Regular customer,15876776.0,12.495719,539.679504,1.0,4.2,7.4,11.3,99999.0

 On average, loyal customers tend to purchase cheaper products than both new and regular customers

# 6.Create a spending flag for each user based on the average price across all their orders

In [24]:
# 6.Create a spending flag for each user based on the average price across all their orders 
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [25]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_prices
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797

In [26]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] <10, 'spending_flag'] = 'Low spender'

In [27]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >=10, 'spending_flag'] = 'High spender'

In [28]:
ords_prods_merge['spending_flag']. value_counts(dropna=False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [29]:
ords_prods_merge[['user_id', 'spending_flag']].head(60)

    user_id spending_flag
0         1   Low spender
1         1   Low spender
2         1   Low spender
3         1   Low spender
4         1   Low spender
5         1   Low spender
6         1   Low spender
7         1   Low spender
8         1   Low spender
9         1   Low spender
10        1   Low spender
11        1   Low spender
12        1   Low spender
13        1   Low spender
14        1   Low spender
15        1   Low spender
16        1   Low spender
17        1   Low spender
18        1   Low spender
19        1   Low spender
20        1   Low spender
21        1   Low spender
22        1   Low spender
23        1   Low spender
24        1   Low spender
25        1   Low spender
26        1   Low spender
27        1   Low spender
28        1   Low spender
29        1   Low spender
30        1   Low spender
31        1   Low spender
32        1   Low spender
33        1   Low spender
34        1   Low spender
35        1   Low spender
36        1   Low spender
37        1   Low spender
38        1   Low spender
39        1   Low spender
40        1   Low spender
41        1   Low spender
42        1   Low spender
43        1   Low spender
44        1   Low spender
45        1   Low spender
46        1   Low spender
47        1   Low spender
48        1   Low spender
49        1   Low spender
50        1   Low spender
51        1   Low spender
52        1   Low spender
53        1   Low spender
54        1   Low spender
55        1   Low spender
56        1   Low spender
57        1   Low spender
58        1   Low spender
59        2   Low spender

# 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [30]:
ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [31]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_days
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5

In [32]:
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [33]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] <= 20) & (ords_prods_merge['median_days'] > 10), 'frequency_flag'] = 'Regular customer'

In [34]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10 , 'frequency_flag'] = 'Frequent customer'

In [35]:
ords_prods_merge['frequency_flag']. value_counts(dropna=False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [36]:
# checking NaN values --- looks like it's a new customer and doesn't have purchasing history in the books yet.
ords_prods_merge[ords_prods_merge['frequency_flag'].isna()]

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_days,frequency_flag
25156870,895835,159838,1,0,17,NaN,True,22198,1,0,...,1.7,Low-range product,Busiest day,Most orders,1,New customer,7.42,Low spender,NaN,NaN
25156871,895835,159838,1,0,17,NaN,True,23695,2,0,...,4.7,Low-range product,Busiest day,Most orders,1,New customer,7.42,Low spender,NaN,NaN
25156872,895835,159838,1,0,17,NaN,True,10749,3,0,...,5.7,Mid-range product,Busiest day,Most orders,1,New customer,7.42,Low spender,NaN,NaN
25156873,895835,159838,1,0,17,NaN,True,21334,5,0,...,10.2,Mid-range product,Busiest day,Most orders,1,New customer,7.42,Low spender,NaN,NaN
25156874,895835,159838,1,0,17,NaN,True,33401,6,0,...,14.8,Mid-range product,Busiest day,Most orders,1,New customer,7.42,Low spender,NaN,NaN

In [37]:
ords_prods_merge[['user_id', 'frequency_flag','days_since_prior_order','median_days']].head(60)

    user_id         frequency_flag  days_since_prior_order  median_days
0         1  Non-frequent customer                     NaN         20.5
1         1  Non-frequent customer                     NaN         20.5
2         1  Non-frequent customer                     NaN         20.5
3         1  Non-frequent customer                     NaN         20.5
4         1  Non-frequent customer                     NaN         20.5
5         1  Non-frequent customer                    15.0         20.5
6         1  Non-frequent customer                    15.0         20.5
7         1  Non-frequent customer                    15.0         20.5
8         1  Non-frequent customer                    15.0         20.5
9         1  Non-frequent customer                    15.0         20.5
10        1  Non-frequent customer                    15.0         20.5
11        1  Non-frequent customer                    21.0         20.5
12        1  Non-frequent customer                    21.0         20.5
13        1  Non-frequent customer                    21.0         20.5
14        1  Non-frequent customer                    21.0         20.5
15        1  Non-frequent customer                    21.0         20.5
16        1  Non-frequent customer                    29.0         20.5
17        1  Non-frequent customer                    29.0         20.5
18        1  Non-frequent customer                    29.0         20.5
19        1  Non-frequent customer                    29.0         20.5
20        1  Non-frequent customer                    29.0         20.5
21        1  Non-frequent customer                    28.0         20.5
22        1  Non-frequent customer                    28.0         20.5
23        1  Non-frequent customer                    28.0         20.5
24        1  Non-frequent customer                    28.0         20.5
25        1  Non-frequent customer                    28.0         20.5
26        1  Non-frequent customer                    28.0         20.5
27        1  Non-frequent customer                    28.0         20.5
28        1  Non-frequent customer                    28.0         20.5
29        1  Non-frequent customer                    19.0         20.5
30        1  Non-frequent customer                    19.0         20.5
31        1  Non-frequent customer                    19.0         20.5
32        1  Non-frequent customer                    19.0         20.5
33        1  Non-frequent customer                    20.0         20.5
34        1  Non-frequent customer                    20.0         20.5
35        1  Non-frequent customer                    20.0         20.5
36        1  Non-frequent customer                    20.0         20.5
37        1  Non-frequent customer                    20.0         20.5
38        1  Non-frequent customer                    14.0         20.5
39        1  Non-frequent customer                    14.0         20.5
40        1  Non-frequent customer                    14.0         20.5
41        1  Non-frequent customer                    14.0         20.5
42        1  Non-frequent customer                    14.0         20.5
43        1  Non-frequent customer                    14.0         20.5
44        1  Non-frequent customer                     0.0         20.5
45        1  Non-frequent customer                     0.0         20.5
46        1  Non-frequent customer                     0.0         20.5
47        1  Non-frequent customer                     0.0         20.5
48        1  Non-frequent customer                     0.0         20.5
49        1  Non-frequent customer                     0.0         20.5
50        1  Non-frequent customer                    30.0         20.5
51        1  Non-frequent customer                    30.0         20.5
52        1  Non-frequent customer                    30.0         20.5
53        1  Non-frequent customer                    30.0         20.5
54        1  Non-frequent customer                    30.0         20.5
55        1  Non-frequent customer                    30.0         20.5
56        1  Non-frequent customer                    30.0         20.5
57        1  Non-frequent customer                    30.0         20.5
58        1  Non-frequent customer                    30.0         20.5
59        2       Regular customer                     NaN         13.0

In [38]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merge_4.8.pkl'))

In [39]:
ords_prods_merge.groupby(['loyalty_flag']).user_id.nunique()

loyalty_flag
Loyal customer       17017
New customer        112328
Regular customer     76864
Name: user_id, dtype: int64

In [40]:
# make the outliners as missing values
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [41]:
ords_prods_merge['prices'].max()

25.0

In [42]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merge_final.pkl'))